.todo-item
  position: relative
  border-bottom: 1px solid #ddd

  &:hover &__delete
    opacity: 1

  &__title
    display: block
    margin-left: 50px
    padding: 15px 30px 15px 0

    transition: color 0.3s

  &.is-complete &__title
    text-decoration: line-through
    color: #aaa

  &__toggle
    position: absolute
    top: 0
    bottom: 0

    width: 30px
    height: 30px
    margin: auto 0

    border: none
    outline: none
    cursor: pointer

    appearance: none

    &:before
      display: block
      width: 30px
      height: 30px
      content: ""
      border: 1px solid #ddd
      border-radius: 50%
      box-sizing: border-box

    &:checked:after
      content: '✔'
      position: absolute
      top: 8px
      left: 8px
      line-height: 16px
      font-size: 16px
      color: #db4c3f

  &__delete
    position: absolute
    top: 0
    bottom: 0
    right: 0

    margin: auto 0
    width: 30px
    height: 30px

    font-size: 26px
    line-height: 30px
    text-align: center

    cursor: pointer
    color: #ccc

    opacity: 0
    transition: opacity 0.3s, color 0.3s

    &:hover
      color: #000
