.todo-item
  display: flex
  align-items: center

  box-sizing: border-box
  min-height: 62px
  padding: 6px 24px
  box-shadow: 0 1px #b6b6b6

  &:last-child
    border-bottom: none

  &:hover &__delete
    opacity: 1

  &__content
    display: flex
    align-self: stretch
    flex-grow: 1
    margin: 0 28px
    cursor: pointer

  &__title
    align-self: center
    transition: color 0.3s

  &.is-complete &__title
    text-decoration: line-through
    color: #727272

  &.is-edit &__delete
    display: none

  &.is-edit &__toggle
    display: none

  &.is-edit &__content
    margin: 0 47px

  &__toggle
    position: relative
    width: 20px
    height: 20px
    outline: none
    cursor: pointer
    appearance: none

    &:before
      content: ""
      position: absolute
      left: 0
      width: 16px
      height: 16px
      border: 2px solid #6d6d6d
      transition: all 0.1s ease-in-out

    &:checked:before
      height: 8px
      border-color: #009688
      border-top-style: none
      border-right-style: none
      transform: rotate(-45deg)

  &__delete
    font-size: 36px
    line-height: 20px

    cursor: pointer
    color: #ccc

    opacity: 0
    transition: opacity 0.3s, color 0.3s

    &:hover
      color: #6d6d6d

  &__edit
    flex-grow: 1
    border: none
    outline: none
