.todo-list-enter
  opacity: 0.01

  &.todo-list-enter-active
    opacity: 1
    transition: opacity 0.3s ease-in

.todo-list-leave
  opacity: 1

  &.todo-list-leave-active
    opacity: 0.01
    transition: opacity 0.3s ease-in
