{
  "rules": {
    "indent": [
      2,
      4,
      {"SwitchCase": 1}
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "array-bracket-spacing": [
      2,
      "always"
    ],
    "object-curly-spacing": [
      2,
      "always"
    ],
    "max-len": [
      2,
      200,
      4
    ],
    "space-before-function-paren": [
      0
    ],
    "vars-on-top": [
      0
    ],
    "no-inner-declarations": [
      0
    ],
    "key-spacing": [
      0
    ],
    "camelcase": [
      2,
      {
        "properties": "never"
      }
    ],
    "new-cap": [
      2,
      {
        "newIsCap": true,
        "capIsNew": true
      }
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "react/display-name": 2,
    "react/forbid-prop-types": [2, {"forbid": ["object", "array", "any"]}],
    "react/prop-types": 2,
    "react/jsx-key": 2,
    "react/jsx-indent": 2,
    "react/jsx-equals-spacing": 2,
    "react/jsx-handler-names": 2,
    "react/jsx-max-props-per-line": [2, {"maximum": 3}],
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": 2,
    "react/no-deprecated": 2,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/wrap-multilines": 2,
    "react/sort-comp": 2
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "yandex"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "experimentalObjectRestSpread": true,
    "jsx": true,
    "spread": true,
    "templateStrings": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "modules": false,
    "React": false,
    "ReactDOM": false,
    "module": false,
    "exports": false,
    "require": false,
    "NODE_ENV": false
  }
}