@import url("https://fonts.googleapis.com/css?family=Roboto")
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

@require 'variables.styl'
@require 'normalize.styl'

body
  font-family: $preferred_font
  background: $bg-color
  color: $text-color-primary
