/* FONT */
$preferred_font = 'Roboto', 'Helvetica', 'Arial', sans-serif

/* COLORS */
$color-primary = #607D8B
$color-primary-dark = #455A64
$color-primary-light = #CFD8DC
$color-accent = #FFC107

$text-color-primary = #212121
$text-color-secondary = #727272
$text-link-color = $color-accent

$divider-color = #B6B6B6
$bg-color = #F5F5F5

/* GRID */
$grid-desktop-breakpoint = 960px

/* COMPONENTS */
$header-mobile-height = 125px
$header-desktop-height = 175px

$footer-height = 120px
