@require '../../styles/variables.styl'

.wrap
  display: flex
  height: $footer-height

.text
  margin: auto
  font-size: 14px
  color: $text-color-secondary

.link
  color: $color-primary
  text-decoration: none
