@require '../../styles/variables.styl'

.wrap
  display: flex
  height: $footer-mobile-height

  transition: height 0.2s

  @media screen and (min-width: $grid-tablet-breakpoint)
    height: $footer-tablet-height

.text
  font-size: 14px
  flex-grow: 1
  margin: auto 1%
  color: $text-color-secondary

  @media screen and (min-width: $grid-tablet-breakpoint)
    text-align: center

.link
  color: $color-primary
  text-decoration: none
