.common
  position: absolute
  bottom: -25px
  right: 7%

  font-size: 40px
  line-height: 56px

  height: 56px
  width: 56px
  border-radius: 50%

  text-align: center

  color: #fff
  background: #ffc107
  box-shadow: 0 3px 10px rgba(#000, 0.23), 0 3px 10px rgba(#000, 0.16);
  cursor: pointer
  user-select: none

  transition: all 0.2s ease

  &:hover
    transform: scale(1.2) rotate(90deg)
