@require '../../styles/variables.styl'

.round
  display: flex
  justify-content: center
  align-items: center

  height: 56px
  width: 56px
  border-radius: 50%

  text-align: center

  color: #fff
  background: $color-accent
  box-shadow: 0 1px 1px rgba(#000, 0.12), 0 1px 1px rgba(#000, 0.24)
  cursor: pointer
  user-select: none
