.todo-create
  margin-top: 30px

  &__link
    font-size: 30px
    line-height: 42px

    display: block
    width: 46px
    height: 46px
    margin-left: auto
    border-radius: 50%

    text-align: center

    background: #dd4b39
    color: #fff
    opacity: 0.8

    cursor: pointer
    transition: opacity 0.3s

    &:hover
      opacity: 1

  &__input
    box-sizing: border-box
    width: 100%
    height: 40px
    border: 0
    border-bottom: 1px solid #ddd
    outline: none