@require '../../styles/variables.styl'

.wrap
  text-align: center

.img
  margin-bottom: 5px

  :global(.material-icons)
    color: $text-color-secondary
    font-size: 80px

.text
  margin: 0
  color: $text-color-secondary
