.header
  position: relative
  height: 160px
  background: #607d8b
  box-shadow: 0 2px 6px rgba(#000, 0.2)

.content
  display: flex
  position: relative

  box-sizing: border-box
  width: 70%
  overflow: hidden;
  max-width: 1280px
  min-height: 186px
  margin: -95px auto 50px
  border-radius: 2px

  background: #fff
  box-shadow: 0 2px 5px 0 rgba(#000, 0.26)
